# {{ ansible_managed }}

-----BEGIN PRIVATE KEY-----
MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQC1mU2fsboEEr3w
fAwsQCXSTkK+FUAlw9nMmUpBhwcuOE5B5aFmOoGndZl0jVlXpRz0TnqGkHEMGj/W
gQxrfUv6W0nNSpSzu+33ce7oB1LhvU62VE45EJjjvqbDnPokIw7pRfPSbdAnARd6
t8IUUhoA2NIERu+yN7rSJti/hHalXOAWX1B+Vr1drQQyVQrADwezPIo29DioWoPj
1JgCR6Dv0GOZNPrYYfCJhM9hWDKl1KpKlCepQBwoU3eoPL52KFGuspzdjS9PSul8
FrJgJSBlxSBIhERc/FH3q3RgSnfiK4e48AE2+gGKmii7fL+stfGR4519Z/REUxLf
7rCIK29gMlbgEb01SYRn5CpNQ6Au5lATPBcPY1sy42PIX10P8VCOYjND9DrxM6On
ErqSO2yc0Jbnawnz37+/m11D1Keg7xUYJKJmIq1KjWfKZQpAC7tHBHkIB8l/K2YZ
lQmja8BteAkVqEk0VeQzmi0rh/oCzblUgeOKm0tttlg8D9PCiIiXvmH2J64aI+OX
ahnbZSR8CXto0VyUdTyPYtoKtsMkypo+T2NeFT8Qr86uSjz/brzYAjae7cz8TXcq
mpvdG6pHKXKJlSd5EslUctnufnTAKrPLtHuwht06pPbUBTONeQAvZIvtu3YH6q7M
hmOSYCIuNUSvBSl7PpnSGHaMzy+feQIDAQABAoICACuoq6zVAa+xAdErQZHx6iXh
gtJIMZ/ish4qTFvspqFKECZvmpoFPt6Pu1D2GqCjpY5mv7ZSS5tpRCfB5saA3R9X
iyq733xGljODRLir6hUzehUDt7qobtlyII2u08SUWSVkF/ZjSEPYU1jBjPttsaq6
deNpWn8yPsv/YuTIZ+3hok4+pA97sxMuYW/oWilKc8N3rpL/rA9tk3/WwKTrq5l8
NDXFMvmKslWdhG4W0jZkJny/mblrHFnll0LvN6sYjmq9rlDlfJZHoFKg8kmDI4LU
HarRgc4JK3ur0NLFlITfikXADcq12GEGJvzMRRi0tVspqddYgrVac5M6w145cxD5
Yx23P75bxYokdVY5JJ8frm+wiPXSOei/D8VCIHtIyYCpww3cU7jNUjW9R+TZoOiF
QlJ3snCFD3Fy97Yx+5dEE6UGJeNiRKkCmqpw2gLgU8W5US0FHW1wv6mlfWFcI1YM
wKWeDD4GrT3rDQA1xJShZRJpPVLHDIfJTQCDlK3Tk7ojXpJs68URvRBS+rCNRh2D
UbXGeDM7DvKr7SP5xLODCY2zjQcunwfZTicnoJap8GHSWNtA0/X5zOXTIdG1Kn2h
e5vqWdhYxAr5Mk+WyWOFd+dCvfmqlLtAhKTwWaHhKZ7GRS+LsuOWsLTMiLWi+e90
BhvHqCLFf3cjJhXakYVxAoIBAQDtP8Z702Sd6HAnbjuq01b7PuWofD5ZvKOJo2uQ
lKcOtyVTrbcF7eYK7/hiD7RLhOiR4Jx6g/u6v16hc81Ct2HN+Iv+n0oTNz+RtKk3
MBTfT4HgALrK/0+2TocT74pIOmTRFxLCEj329I//rzPfGIsdjjYYAQuNF7KsLvPY
2tOfkTr/JvXGhHSPbP7z+6Iuvi4wKojBxvobbI+ynlAhbU6xEASRa2QHhKFlmHbj
hhQmtDyJF1Ly6PJrx78nyZEiQhsLdRcAEdEy/GtthMEGS6CJiOwpXTDsRoN7Z0fa
9geKSjfmVAWy7n70Pi0kcCZPIp1+qxaajBVJpb3OyLuUg1qfAoIBAQDD85B7HQCC
/dAwr+/TgYOvUJ6c407wRvf4c4mvjxCKp0t/anSRulcd3Uq99s6TEbfqDCaC/6EQ
h6ZIVl6Pkdv1U0CI4Z1Cm7/djJKpU/dnEJ6FISz28xaYbegUMVGXZDPvTThofd3S
X0i9vBxmUSX2VMgAu8LmcFI+iAJ4ROKOu7zRi+LhvpL3zM4ks0F3itlL6GqvGwCH
Zp69bffz4ulGwaamM9qrKnB0SyLVydv3p7Wexgm6CtuUTJMHEm3qhU7SpSq8PuGb
4N3jIGReeSe0/8Wy8Eh7e+jLldP2ymM/LY0rWvjaBW8zVPHWEMNKIef26nKQHbdd
OlMG2SZsAubnAoIBAQCFc1oyTLZMHHL5uwfVDwveR4LnQvvPfkx/H21h5jwSCvL0
HsLUkvzTKiiNAEhqMliftbhPMe5nHT4dkwXigUSCl0wn7XG9XVZknzqP0HvtIMvt
NHvds78izQkuLY+bET2kX1Yt1BUG1IorSGHlG+kkttm2pt/YfXwDXmXLlUt0djy5
STD2eYsXIjhHBUQ1BsT0UviaB1KoGmi6EFMCennJHzlykvWxROmEPD6jvMeY/ckP
VA9Uk7PI7JKZzsfUfVq5FyPY5izGgTXsZMAuyluDAYHVwpXCUeejgnTotXuITjcj
WB/chkrjGBZMaMkjulTc61/LjwBqbNBXgJIC9+ABAoIBABJu1heOud6Yq734vvHB
jDawucr+Yw2dT3RSwg/+wEqaxDJfPEn9InbPu1k1X2dcUlW1AOZvz6HzcMP7Q/fz
e6KPS1HVD2sVpa3crGs7V9mdKZxSa51rbqO2Kw/DN+6q4WvQcs75kCVbC0e162IA
njaW8R2IjCQLSuFRABJ6QGm25WM86oHb4I1o+bdgGXd6W0iVu3tvadRS5fnh32JU
5SbfzqJx3E8fteZqrwM3cvbQEvi1nnKe1NsVfPs8U5StJ6YPHX8J10VHmPflsytj
8EVJjjpv+hGLrXGBTag4j6+AxHfgneo8eqJ0ii9d8lEF8YE7ur0t3nLpqqfJQ6ED
gN8CggEBANvAffl3Jkr12AN721z35flIG0RLhe2t1I/j7KFF56AsDGxO0DZvNf/u
DVdXI/bSSA1swURw1Ophdf9+sYypnL3xS9lwqtMxiH1whBf1SMxt9ps+5JLJOc9/
O5LQeL1HgYu7sXlx81afJWAQtSY0FEsx0ihfk1XCut4VdNUAEHQncQ7rXl/qN//D
fMOlew8fgQ024TH2iwCcsXJnlBlwd8xlAXnkM1UbkKtXGeQ+UfNetS/qCAo1okoi
dPE0OqFDDQzYdAxyQDsIX0IvxYUlRuGUHlE1gQDA39V9sOwiZI8UoWUAClyJfEl/
BP5NclKLamC9rBwxP/Rps3WXP4+8iqA=
-----END PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIEqjCCApICCQDIyBGfaT29UjANBgkqhkiG9w0BAQsFADAXMRUwEwYDVQQDDAxs
b2FkYmFsYW5jZXIwHhcNMjAwNzE3MDc1NzAwWhcNMjEwNzE3MDc1NzAwWjAXMRUw
EwYDVQQDDAxsb2FkYmFsYW5jZXIwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQC1mU2fsboEEr3wfAwsQCXSTkK+FUAlw9nMmUpBhwcuOE5B5aFmOoGndZl0
jVlXpRz0TnqGkHEMGj/WgQxrfUv6W0nNSpSzu+33ce7oB1LhvU62VE45EJjjvqbD
nPokIw7pRfPSbdAnARd6t8IUUhoA2NIERu+yN7rSJti/hHalXOAWX1B+Vr1drQQy
VQrADwezPIo29DioWoPj1JgCR6Dv0GOZNPrYYfCJhM9hWDKl1KpKlCepQBwoU3eo
PL52KFGuspzdjS9PSul8FrJgJSBlxSBIhERc/FH3q3RgSnfiK4e48AE2+gGKmii7
fL+stfGR4519Z/REUxLf7rCIK29gMlbgEb01SYRn5CpNQ6Au5lATPBcPY1sy42PI
X10P8VCOYjND9DrxM6OnErqSO2yc0Jbnawnz37+/m11D1Keg7xUYJKJmIq1KjWfK
ZQpAC7tHBHkIB8l/K2YZlQmja8BteAkVqEk0VeQzmi0rh/oCzblUgeOKm0tttlg8
D9PCiIiXvmH2J64aI+OXahnbZSR8CXto0VyUdTyPYtoKtsMkypo+T2NeFT8Qr86u
Sjz/brzYAjae7cz8TXcqmpvdG6pHKXKJlSd5EslUctnufnTAKrPLtHuwht06pPbU
BTONeQAvZIvtu3YH6q7MhmOSYCIuNUSvBSl7PpnSGHaMzy+feQIDAQABMA0GCSqG
SIb3DQEBCwUAA4ICAQCtTR53Zal9HZKlOsQvcnYhQk7eHAPge5DIeJ94u4Ak/Rdt
mOj8+F/p015gGD0VccWyL9MkLrh/DU+5Z690VPI98rGkNHsOXuZ2608pBplTOM81
UFrVGVsosdlMUV3beDMPtHeDKdHazynxHh9wzycLfuKgdgq0ZGhJbQtsnkVhkqsD
lny6ew3uq+vGb1Q7vwQFKoZPPXnGQE5qQQQI6PC0++OAi8tnLGwYypTvdYiFiwHk
5xSDkAvI+lFoxeH11AOkLHAkHLosJZSMCExn3N2dFYNEZF6X5Wzi83t2xS1JoNot
AEIcORCLqNukcM9OVUwly/m3XfV5sYW9VaFlE3vYYIB+a+t4cFV9QWixKJUvX4Kb
yblr1itSFjsidkvrmti+tEAKnbTX2esohAYxFyB9zkW/cDyEMTip9vfzU/wKk2aB
6v9gFVrBi9e9lTCBsZY72pFkACOZwnraYD/VTj7530RXQG6YQVePlaADZQx7SZpb
4FdtJ2bViMKLd36oKRKG+F8ALzYITc5hHXJm9i5fIJBZijeOb6DeKYNPfs7+kl/j
kup1nXhwTQZCCXXnGUtZaj1a6J5gi/Lqy5fyPw9/rW0WbIDqkJJKDmtTvVrL+Lq6
FTyhAULvbY6QC8wYbP2yaxlRdGv0lPpINIz3fymKdElEjjSB9Oos+13TVhF5IQ==
-----END CERTIFICATE-----
